.talk-discussion-create
  width: 100%
  background: silver
  overflow: auto

  .talk-discussion-focus-image
    float: left
    width 30%
    max-height: 250px
    max-width: 250px

  .talk-discussion-form
    float: left
    width: 70%

    button[type='submit']
      display: block

    input
      display: block

    textarea
      display: block
      box-sizing: border-box
      max-width: 800px
      width: 100%
      height: 150px

  .talk-discussion-buttons-container
    display: block
    float: left
    width: 100%

  .talk-discussion-children
    float: left
    width: 100%
