.talk-image-viewer
  position: relative
  background-color: hsla(0, 0%, 0%, .8)
  color: #fff

  .talk-image-viewer-image-view
    text-align: center
    margin: 0 auto
    max-width: 80%

    img
      max-width: 100%
      max-height: 70vw

    .talk-image-viewer-image-header
      max-height: 10vw
      h1
        min-height: 1em
        margin: 0

    .talk-image-viewer-image-footer
      max-height: 20vw

  .talk-image-viewer-prev, .talk-image-viewer-next
    &:disabled
      opacity: 0.4

  .talk-image-viewer-prev
    position: absolute
    left: 0
    top: 50%

  .talk-image-viewer-next
    position: absolute
    right: 0
    top: 50%

  .talk-image-viewer-close
    position: absolute
    top: 0
    right: 0

  .talk-image-viewer-active-num
    width: 100%
    text-align: center
